<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    
    <title>Weather App</title>
</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./img/about.png" alt="About image" class="img-fluid" title="Dhruv">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather App</p>
                        <h1>I am a <span class="text-clr">Web Developer</span> and freelancer</h1>
                        <a href="https://www.instagram.com/dhruv.prajapati.225/" target="_blank"><button>About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>